In [2]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
data = pd.read_csv('election_train.csv')

In [4]:
data.head(20)

    Year State           County      Office       Party   Votes
0   2018    AZ    Apache County  US Senator  Democratic   16298
1   2018    AZ    Apache County  US Senator  Republican    7810
2   2018    AZ   Cochise County  US Senator  Democratic   17383
3   2018    AZ   Cochise County  US Senator  Republican   26929
4   2018    AZ  Coconino County  US Senator  Democratic   34240
5   2018    AZ  Coconino County  US Senator  Republican   19249
6   2018    AZ      Gila County  US Senator  Democratic    7643
7   2018    AZ      Gila County  US Senator  Republican   12180
8   2018    AZ    Graham County  US Senator  Democratic    3368
9   2018    AZ    Graham County  US Senator  Republican    6870
10  2018    AZ    La Paz County  US Senator  Democratic    1609
11  2018    AZ    La Paz County  US Senator  Republican    3265
12  2018    AZ  Maricopa County  US Senator  Democratic  732671
13  2018    AZ  Maricopa County  US Senator  Republican  672505
14  2018    AZ    Mohave County  US Senator  Democratic   19214
15  2018    AZ    Mohave County  US Senator  Republican   50209
16  2018    AZ    Navajo County  US Senator  Democratic   16624
17  2018    AZ    Navajo County  US Senator  Republican   18767
18  2018    AZ      Pima County  US Senator  Democratic  221242
19  2018    AZ      Pima County  US Senator  Republican  160550

In [5]:
election_data = pd.pivot_table(data, index=['State', 'Year', 'Office','County'], columns='Party', values='Votes').reset_index()

In [6]:
demographics_data = pd.read_csv('demographics_train.csv')

In [7]:
demographics_data.head(20)

,State,County,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,Wisconsin,La Crosse,55063,117538,0,90.537528,1.214075,1.724549,2.976059,51.171536,43.241335,14.702479,51477,4.796952,5.474767,67.529757,16.827753
1,Virginia,Alleghany,51005,15919,12705,91.940449,5.207614,1.432251,1.300333,51.077329,31.660280,23.902255,45538,4.560986,15.537543,83.711604,52.393846
2,Indiana,Fountain,18045,16741,12750,95.705155,0.400215,2.359477,1.547100,49.770026,35.899887,18.941521,45924,7.978789,12.032155,85.538940,65.951276
3,Ohio,Geauga,39055,94020,0,95.837056,1.256116,1.294405,2.578175,50.678579,36.281642,18.028079,74165,4.036902,8.928599,62.730824,63.968990
4,Wisconsin,Jackson,55053,20566,15835,86.662453,1.983857,3.082758,1.376058,46.649810,36.292911,17.587280,49608,5.569698,11.792912,86.129256,72.238251
5,Texas,Baylor,48023,3639,0,86.644683,1.841165,8.353943,2.473207,51.662545,30.090684,24.402308,34382,1.377410,13.066667,73.409524,100.000000
6,Nebraska,Madison,31119,35125,24885,81.249822,1.155872,14.217794,6.784342,50.448399,41.432028,15.404982,48673,3.094085,11.678672,80.345221,27.904576
7,Hawaii,Hawaii,15001,193680,0,30.401694,0.547811,12.405514,11.003717,50.143019,36.008881,17.580545,53936,7.437632,8.362326,72.408979,37.990804
8,Tennessee,Henry,47079,32291,25285,87.662197,8.599919,2.201852,1.560806,51.441578,33.238364,21.476572,38378,7.912277,15.710841,85.305261,66.848129
9,Michigan,Oceana,26127,26152,18930,82.486999,1.131845,14.419547,5.578923,49.395840,36.643469,19.088406,41952,8.275556,14.335429,82.947912,89.890854
10,Nebraska,Pierce,31139,7179,5385,96.893718,0.222872,1.587965,0.780053,49.658727,36.634629,18.540187,53125,3.981142,5.227552,78.618286,100.000000
11,Texas,Jack,48237,8866,6535,78.411911,4.376269,15.880893,5.549289,43.187458,38.732236,15.677871,50390,4.680468,21.130221,89.221949,53.217603
12,Florida,Walton,12131,61528,47490,84.447731,4.950592,5.888376,5.759979,49.349889,33.165388,18.783318,46910,7.295474,15.083974,73.691263,63.125193
13,Virginia,Washington,51191,54562,0,95.484037,1.268282,1.414904,1.611011,50.500348,32.005792,20.301675,43835,6.425857,15.913833,75.223085,71.676143
14,Florida,Escambia,12033,309574,0,65.219624,21.532816,5.389988,4.747492,50.299444,41.364585,15.774581,46117,8.297930,10.053723,75.116986,8.302225
15,Texas,Wheeler,48483,5642,3785,68.397731,2.658632,26.462247,9.517901,49.202410,39.188231,17.795108,51082,5.424099,19.678609,85.879874,100.000000
16,Arizona,Yavapai,4025,218586,0,81.159361,0.518331,14.054880,6.456955,51.092476,28.717301,28.272625,46638,8.525986,9.830672,74.458362,33.197178
17,Nebraska,Loup,31115,542,435,97.970480,0.000000,0.000000,0.000000,52.398524,30.996310,24.538745,56750,0.335570,2.736318,78.109453,100.000000
18,Michigan,Antrim,26009,23215,0,95.179841,0.323067,1.955632,2.015938,50.273530,29.450786,25.410295,48825,7.815784,9.311741,73.314054,100.000000
19,Minnesota,Wabasha,27157,21327,16385,94.926619,0.150045,2.874291,1.355090,50.171145,34.594645,18.807146,58865,3.382303,6.811536,78.761297,64.541428

In [8]:
state_map = pd.read_csv('state_map.csv')
state_map.head()

        State Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [9]:
dict = {}
for element in state_map.values:
    dict[element[1]] = element[0]

In [10]:
election_data.replace({"State": dict},inplace=True)

In [11]:
election_data['County'] = election_data.County.str.replace(' County','').str.lower()
demographics_data['County'] = demographics_data['County'].str.lower()

In [12]:
merge_dataframe = pd.merge(election_data, demographics_data, how="inner", on=['County','State'])
merge_dataframe

,State,Year,Office,County,Democratic,Republican,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino",...,Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,Arizona,2018,US Senator,apache,16298.0,7810.0,4001,72346,0,18.571863,...,5.947806,1.719515,50.598513,45.854643,13.322091,32460,15.807433,21.758252,88.941063,74.061076
1,Arizona,2018,US Senator,cochise,17383.0,26929.0,4003,128177,92915,56.299492,...,34.403208,11.458374,49.069646,37.902276,19.756275,45383,8.567108,13.409171,76.837055,36.301067
2,Arizona,2018,US Senator,coconino,34240.0,19249.0,4005,138064,104265,54.619597,...,13.711033,4.825298,50.581614,48.946141,10.873943,51106,8.238305,11.085381,65.791439,31.466066
3,Arizona,2018,US Senator,gila,7643.0,12180.0,4007,53179,0,63.222325,...,18.548675,4.249798,50.296170,32.238290,26.397638,40593,12.129932,15.729958,82.262624,41.062000
4,Arizona,2018,US Senator,graham,3368.0,6870.0,4009,37529,0,51.461536,...,32.097844,4.385942,46.313518,46.393456,12.315809,47422,14.424104,14.580797,86.675944,46.437399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,Wyoming,2018,US Senator,platte,801.0,2850.0,56031,8740,6830,89.359268,...,7.814645,2.780320,47.711670,32.700229,22.013730,41051,3.901047,9.675889,80.300395,58.647744
1196,Wyoming,2018,US Senator,sublette,668.0,2653.0,56035,10032,0,91.646730,...,7.814992,2.053429,46.949761,36.393541,13.337321,76004,2.786971,4.658830,75.645069,100.000000
1197,Wyoming,2018,US Senator,sweetwater,3943.0,8577.0,56037,44812,30565,79.815674,...,15.859591,5.509685,47.824244,44.153352,9.417120,68233,5.072255,9.314606,78.628507,10.916313
1198,Wyoming,2018,US Senator,uinta,1371.0,4713.0,56041,20893,14355,87.718375,...,8.959939,3.986981,49.327526,43.205858,10.678218,53323,6.390755,10.361224,81.793082,43.095937
1199,Wyoming,2018,US Senator,washakie,588.0,2423.0,56043,8351,0,82.397318,...,13.962400,3.783978,51.359119,34.774279,19.650341,46212,7.441860,12.577108,78.923920,35.954529

In [14]:
merge_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1200 entries, 0 to 1199
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   State                                  1200 non-null   object
 1   Year                                   1200 non-null   int64
 2   Office                                 1200 non-null   object
 3   County                                 1200 non-null   object
 4   Democratic                             1197 non-null   float64
 5   Republican                             1198 non-null   float64
 6   FIPS                                   1200 non-null   int64
 7   Total Population                       1200 non-null   int64
 8   Citizen Voting-Age Population          1200 non-null   int64
 9   Percent White, not Hispanic or Latino  1200 non-null   float64
 10  Percent Black, not Hispanic or Latino  1200 non-null   float64
 11  Percent Hispanic or Latino             1200 non-null   float64
 12  Percent Foreign Born                   1200 non-null   float64
 13  Percent Female                         1200 non-null   float64
 14  Percent Age 29 and Under               1200 non-null   float64
 15  Percent Age 65 and Older               1200 non-null   float64
 16  Median Household Income                1200 non-null   int64
 17  Percent Unemployed                     1200 non-null   float64
 18  Percent Less than High School Degree   1200 non-null   float64
 19  Percent Less than Bachelor's Degree    1200 non-null   float64
 20  Percent Rural                          1200 non-null   float64
dtypes: float64(13), int64(5), object(3)
memory usage: 206.2+ KB

#### How mant variables does the dataset have?
The dataset has 21 variables.
<br>
#### What is the type of these variables?
The type of these variables are objectm int64 and float64.

#### Are there any irrelevant or redundant variables?